<head>
	<style>
		body { background-color: rgba(52,152,219,.75)}   
	</style>
</head>

<%= render 'shared/nav_bar' %>

<body>
<div class="border-form-div2">
<p>
  <strong>From:</strong>
  <%= @message.user.name.blank? ? @message.user.email : @message.user.name %>
</p>

<p>
  <strong>To:</strong>
  <%= current_user.name.blank? ? @current_user.email : @current_user.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.created_at.strftime("%b %d, %Y") %>
</p>

<center>
  <%= link_to new_message_path(:sender_id => @message.user_id) do %>
    <button class="new">Reply</button><br>
  <% end %>
</center>
</div>
</body>
