<head>
<style>
  body {background-color: rgba(52,152,219,.5)};
</style>
</head>

<body>
<div class="border-form-div">
<h2>Sign Up</h2>

<header class="navbar-default navbar-fixed-top" role="banner">
		  <nav role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/#"><text>Triton Trade</text></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Clothes</a></li>
		            <li><a href="#">Textbooks</a></li>
		            <li><a href="#">Furniture</a></li>
                    <li><a href="#">Miscellaneous</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Explore</a></li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <!-- Welcome Guest!
                <div class ="navbar-brand-name">
                  <li>Welcome <a href="#"> Guest!</a></li>
                </div>-->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">

<li><%= link_to 'Members', users_path %></li>

<% if user_signed_in? %>

<li>Hello, <%= current_user.email %>!</li>
<li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
<li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
<li><%= link_to "Profile", current_user %></li>

<% else %>

<li><%= link_to "Sign In", new_user_session_path %></li>
<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
<li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
<li><%= link_to "Sign Up", new_user_registration_path %></li>

<% end %>

		            <li class="divider"></li>
		            <li><a href="info">Info</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
  	</header-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
<div class="devise-links">
<%= render "devise/shared/links" %>
</div>
</div>
<footer>
            <div class="row">
		<div class="col-sm-12">
		    <p>
		    <a href="info">About Us</a> | &copy; Team OBT. All rights resvered.</p>
		</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer> 
</body>
