<%= render 'shared/nav_bar' %>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <% if current_user.try(:admin?) %>
          <% if user.admin %>
            <td><%= link_to 'Demote', demote_user_path(user) %><td>
          <% else %>
            <td><%= link_to 'Promote', promote_user_path(user) %><td>
          <% end %>
          <td><%= link_to 'Ban', user, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
