<%= render 'shared/nav_bar' %>

<head>
<style>
  body {background-color: rgba(52,152,219,.5)};
  .border-form-div2 { background: white;  margin-left: auto; margin-right: auto; }
  .border-form-div2 h1 { font-family: "Lobster", cursive; }
  .border-form-div2 img { float: left; padding-right: 10px; }
  .border-form-div2 ul { list-style: none; }
  footer p { clear: both; text-align; center; }
  .products li { display: inline-block; width: 200px; vertical-align:top; }
  .products h1, h4 { font-family: "Oswald", sans-serif; text-align: center; }
  .products p { text-align: center; }
</style>
</head>

<body>
	<div class="border-form-div2">

	<center><h1><%= @user.name %></h1></center>
	
	<p><%= image_tag @user.avatar_url.blank? ? ("http://community.blrstartups.com/content/plugins/techchamp/assets/avatars/anon.png") : @user.avatar_url, :width => 200, :height => 200, :crop => :fill %>
	
	<ul>
	    <li><strong>Email:</strong> <%= @user.email %></li>
	    <li><strong>Date of birth:</strong> <%= @user.date_of_birth %></li>
	    <li><strong>PID:</strong> <%= @user.PID %></li>
	</ul>

	<p><strong>Items for Sale</strong></p>
	<!--display user's items for sale -->
	<center><ul class="products">
		<% @items.each do |item| %>
			<li>
		<p><%= image_tag item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : item.image_url, :width => 150, :height => 150, :crop => :fill %></p>
		<h4><%= item.name %></h4>
		<p>$<%= item.price %></p>
		<p><%= link_to 'Details', item %></p>
		<p><%= raw tag_links(item.all_tags) %></p>
		</li>
		<% end %>
	</ul></center>

      <% if user_signed_in? %>
           <% if can? :crud, @user %>
		<p><center><%= link_to 'Edit Profile', edit_user_registration_path %></center></p>
           <% end %>
        <% end %>	


	</div>
	<footer>
            <div class="row">
		<div class="col-sm-12">
		    <p>
		    <a href="../info">About Us</a> | &copy; Team OBT. All rights resvered.</p>
		</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer> 

</body>
