<%= stylesheet_link_tag "application" %>

<head>
<style>
  body {background-color: rgba(52,152,219,.5)};
</style>
</head>

<body>
<div class="border-form-div2">

<h1><center><%= @user.name %></center></h1>
<ul>
    <img src: <%=@user.avatar_url%> />
    <li>Email: <%= @user.email %></li>
    <li>Date of birth: <%= @user.date_of_birth %></li>
    <li>PID: <%= @user.PID %></li>
</ul>

</div>
<footer>
            <div class="row">
		<div class="col-sm-12">
		    <p>
		    <a href="../info">About Us</a> | &copy; Team OBT. All rights resvered.</p>
		</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer> 

<body>
