<head>
<style>
  body {background-color: rgba(52,152,219,.5)};
  .border-form-div2 { background: white;  margin-left: auto; margin-right: auto; }
  .border-form-div2 h1 { font-family: "Lobster", cursive; }
  .border-form-div2 img { padding-left: 2%; float: left; padding-right: 10px; }
  .border-form-div2 ul { list-style: none; }
  footer{ text-align; center; }
  .itemshowcase { clear: both; }
  .itemshowcase .it { padding-left: 2%; padding-top:0; }
  .products { padding-left:2%; }
  .products li { display: inline-block; width: 115px; vertical-align:top; }
  .products h1, h4 { font-family: "Oswald", sans-serif; text-align: center; }
  .products p { text-align: center; }
  .products p:hover { text-decoration: none; }
</style>
</head>

<%= render 'shared/nav_bar' %>

<body>
	<div class="border-form-div2">

	<center><h1><%= @user.name %></h1></center>
	
	<p><%= image_tag @user.avatar_url.blank? ? ("http://community.blrstartups.com/content/plugins/techchamp/assets/avatars/anon.png") : @user.avatar_url, :width => 200, :height => 200, :crop => :fill %><p>
	
	<ul>
	    <li><strong>Email:</strong> <%= @user.email %></li>
	    <li><strong>Date of birth:</strong> <%= @user.date_of_birth %></li>
	    <li><strong>PID:</strong> <%= @user.PID %><br><br></li>
            <li><strong>About Me:</strong><br>Will implement if we have time for it</li>
	</ul>

<div class = "itemshowcase">
	<p class="it"><strong>Items for Sale</strong></p>
	<!--display user's items for sale -->
	<ul class="products">
		<% @items.each do |item| %>
			<li>
				<p><%= image_tag item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : item.image_url, :width => 115, :height => 115, :crop => :fill %></p>
				<h4><%= item.name %></h4>
				<p>$<%= item.price %></p>
				<p><%= link_to 'Details', item %></p>
			</li>
		<% end %>
	</ul>
</div>
      <center><p>!!!! NOTE: should only be visible when user is viewing own profile</p></center>
      <%# if user_signed_in? %>
           <%# if can? :crud, @user %>
		<center><p><%= link_to 'Edit Profile', edit_user_registration_path %></p></center>
           <%# end %>
        <%# end %>


	</div>
	<footer>
            <div class="row">
		<div class="col-sm-12">
		    <p>
		    <a href="../info">About Us</a> | &copy; Team OBT. All rights resvered.</p>
		</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer> 

</body>
