<%= render 'shared/nav_bar' %>

<head>
<style>
  body {background-color: rgba(52,152,219,.5)};
</style>
</head>

<body>
	<div class="border-form-div2">

	<h1><center><%= @user.name %></center></h1>
	
	<p><center><%= image_tag @user.avatar_url.blank? ? ("http://community.blrstartups.com/content/plugins/techchamp/assets/avatars/anon.png") : @user.avatar_url, :width => 200, :height => 200, :crop => :fill %></center></p>
	<ul>
	    <li>Email: <%= @user.email %></li>
	    <li>Date of birth: <%= @user.date_of_birth %></li>
	    <li>PID: <%= @user.PID %></li>
	</ul>

	<p><%= link_to 'Edit Profile', edit_user_registration_path %></p>

	</div>
	<footer>
            <div class="row">
		<div class="col-sm-12">
		    <p>
		    <a href="../info">About Us</a> | &copy; Team OBT. All rights resvered.</p>
		</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer> 

</body>
