<%= render 'shared/nav_bar' %>

<%= form_for(@search) do |f| %>
  <p>
    <%= f.label "Item Name" %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>

  <p>
    <%= f.label :condition %><br />
    <%= f.select :condition, [['Fair', 'Fair'], ['Used', 'Used'], ['Good', 'Good'], ['New', 'New']], autofocus: true %><br>
  </p>

  <p>
    <%= f.label :category %><br />
    <%= f.select :category, [['Miscellaneous', 'Miscellaneous'], ['Clothes', 'Clothes'], ['Textbooks', 'Textbooks'], ['Furniture', 'Furniture']], autofocus: true %>
  </p>

  <p>
    Price Range<br />
    <%= f.text_field :minimum_price, :size => 7 %> -
    <%= f.text_field :maximum_price, :size => 7 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


