<%= render 'shared/nav_bar' %>

<body>
<h1>Search Results:</h1>
<% if user_signed_in? %>
  <center><%= link_to new_item_path, :method => :get do %>
		<button class="new">New Item</button><br>
	  <% end %>
   </center>
<% end %>

<center><ul class="products">
<li>whats up</li>
<% @search.items.each do |item| %>
	<% unless item.is_sold %>
	<li>
		<div class="image"><%= image_tag item.image_url.blank? ? ("https://www.saveful.com/img/no_image_available.jpg") : item.image_url, :width => 300, :height => 300, :crop => :fill %></div>
		<div class="clearfix">
			<h4><%= link_to item.name, item %></h4>
			<!--<p>< % = # link_to '$'item.price, item.buy % ></p>-->
			<p><%= raw tag_links(item.all_tags) %></p>
			<p><a href="#" class="pricebutton"><%= number_to_currency(item.price) %></a></p>
		</div>
	</li>
	<% end %>
<% end %>
</ul></center>
   
</body>

