
<%= form_for(@item) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %><br>

    <%= f.label :condition %><br>
    <%= f.text_field :condition, autofocus: true %><br>


  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
