<head>
	<style>
		body h1 { font-family: "Oswald", sans-serif; text-align: center; }
		body { background-color: rgba(52,152,219,.75); }
		.products li { display: inline-block; width: 400px; vertical-align:top; }
		body .new { padding: 5px; }
		.products { padding-top: 5px; }
		/*---------------------------------------*/
		a { color: #787878; text-decoration: none; font-size: 14px; }
		a:hover { color: #3498db; background: transparent; text-decoration: none; }
		.products .image { bottom: 0; display: block; height: auto; max-width: 100%; }
		.clearfix p { margin: 0; }
		.clearfix h4 { font-family: "Oswald", sans-serif; color: #fff; margin: 0; padding: 0; }
		.clearfix .pricebutton { background: #0084b4; border-radius: 3px; color: #fff; display: block; font-weight: bold; margin: 0; padding: 10px }
		.clearfix .pricebutton:hover { background: #2D76B9; color: #fff; }
		.products li { border: 6px solid #fff; box-shadow: 0 0 5px rgba(0, 0, 0, .3); overflow: hidden; width: 330px; padding-bottom: 3px; position: relative; background: rgba(255,255,255,0.6); }
		.products li:hover .clearfix { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0);	-o-transform: translateY(0); transform: translateY(0); -webkit-transition: -webkit-transform .4s, opacity .1s;	-moz-transition: -moz-transform .4s, opacity .1s; -ms-transition: -ms-transform .4s, opacity .1s; -o-transition: -o-transform .4s, opacity .1s;	transition: transform .4s, opacity .1s; }

		.products li .clearfix { background: rgba(255,255,255,0.6); bottom: 0; color: #fff; height: 80px; left: 0; opacity: 0; padding: 10px; position: absolute; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform .4s, opacity .1s .3s; -moz-transition: -moz-transform .4s, opacity .1s .3s; -ms-transition: -ms-transform .4s, opacity .1s .3s; -o-transition: -o-transform .4s, opacity .1s .3s; transition: transform .4s, opacity .1s .3s; width: 320px; }	
</style>
</head>

<%= render 'shared/nav_bar' %>
<body>
<h1>For Sale</h1>

<% if user_signed_in? %>
  <center><%= link_to new_item_path, :method => :get do %>
		<button class="new">New Item</button><br>
	  <% end %>
   </center>
<% end %>

<center><ul class="products">
<% @items.each do |item| %>
	<li>
		<div class="image"><%= image_tag item.image_url.blank? ? ("https://www.saveful.com/img/no_image_available.jpg") : item.image_url, :width => 300, :height => 300, :crop => :fill %></div>
		<div class="clearfix">
			<h4><%= link_to item.name, item %></h4>
			<!--<p>< % = # link_to '$'item.price, item.buy % ></p>-->
			<p><%= raw tag_links(item.all_tags) %></p>
			<p><a href="#" class="pricebutton">$<%= number_to_currency(item.price) %></a></p>
		</div>
	</li>
<% end %>
</ul></center>
   
</body>

