<head>
	<style>
		body h1/*, products h4*/ { font-family: "Oswald", sans-serif; text-align: center; }
		.products li { display: inline-block; width: 400px; vertical-align:top; }
		/*.products p { text-align: center; }*/
		body .button { padding: 5px; }
		/*---------------------------------------*/
		/*a { color: #ea4c89; text-decoration: none; }
		a:hover { color: #df3e7b; }
		.products image { bottom: 0; display: block; height: auto; max-width: 100%; }
		.clearfix p { margin: 0; }
		.clearfix .button { background: #0084b4; border-radius: 3px; color: #fff; display: inline-block; font-weight: bold; padding: 4px 8px; position: absolute; right: 20 px; top: 30px; }
		.clearfix .button:hover { background: #2D76B9; color: #fff; }
		.products li { border: 6px solid #fff; box-shadow: 0 0 5px rgba(0, 0, 0, .3); overflow: hidden; position: relative; width: 330px; }
		.products li image { -webkit-transition: all .4s; -moz-transition: all .4s; -ms-transition: all .4s; -o-transition: all .4s; transition: all .4s; }
		.products li:hover .clearfix { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0);	-o-transform: translateY(0); transform: translateY(0); -webkit-transition: -webkit-transform .4s, opacity .1s;	-moz-transition: -moz-transform .4s, opacity .1s; -ms-transition: -ms-transform .4s, opacity .1s; -o-transition: -o-transform .4s, opacity .1s;	transition: transform .4s, opacity .1s; }

		.products li .clearfix { background: rgba(255,255,255,0.4); bottom: 0; color: #fff; height: 40px; left: 0; opacity: 0; padding: 20px; position: absolute; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform .4s, opacity .1s .3s; -moz-transition: -moz-transform .4s, opacity .1s .3s; -ms-transition: -ms-transform .4s, opacity .1s .3s; -o-transition: -o-transform .4s, opacity .1s .3s; transition: transform .4s, opacity .1s .3s; width: 360px; }*/	
</style>
</head>

<%= render 'shared/nav_bar' %>
<body>
<h1>For Sale</h1>

<% if user_signed_in? %>
  <center><%= link_to new_item_path, :method => :get do %>
		<button>New Item</button>
	  <% end %>
  </center>
<% end %>

<center><ul class="products">
<% @items.each do |item| %>
	<li>
		<div class="image"><%= image_tag item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : item.image_url, :width => 300, :height => 300, :crop => :fill %></div>
		<div class="clearfix">
			<h4><%= link_to item.name, item %></h4>
			<!--<p>< % = # link_to '$'item.price, item.buy % ></p>-->
			<a href="#" class="button"><%= item.price %></a>
			<p><%= raw tag_links(item.all_tags) %></p>
		</div>
	</li>
<% end %>
</ul></center>
   
<!--  <tbody>
    <% @items.each do |item| %>
      
      <tr>
        <td><%= item.user.name.blank? ? item.user.email : item.user.name %></td>
        <td style="padding-right: 10px"><%= item.name %></td>
	<td style="padding-right: 10px"><%= item.condition %></td>
	<td style="padding-right: 10px"><%= item.price %></td>
        <td style="padding-right: 10px"><%= raw tag_links(item.all_tags) %></td>
        <td style="padding-right: 10px"><%= link_to 'Details', item %></td>
        <% if user_signed_in? %>
           <% if can? :crud, item %>
              <td style="padding-right: 10px"><%= link_to 'Edit', edit_item_path(item) %></td>
              <td style="padding-right: 10px"><%= link_to 'Delete', item, method: :delete %></td>
           <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>-->

</body>

