<center><h1>For Sale</h1></center>

<%= render 'shared/nav_bar' %>



<table>
  <thead>
    <tr>
      <th style="padding-right: 10px">User</th>
      <th style="padding-right: 10px">Item</th>
      <th style="padding-right: 10px">Condition</th>
      <th style="padding-right: 10px">Price</th> 
      <th style="padding-right: 10px">Tags</th> 
      <th colspan="30"></th>
    </tr>
  </thead>

<% if user_signed_in? %>
  <center><%= button_to 'New Item', new_item_path, :class => "button", :method => :get %></center>
<% end %>

  <tbody>
    <% @items.each do |item| %>
      
      <tr>
        <td><%= item.user.name.blank? ? item.user.email : item.user.name %></td>
        <td style="padding-right: 10px"><%= item.name %></td>
	<td style="padding-right: 10px"><%= item.condition %></td>
	<td style="padding-right: 10px"><%= item.price %></td>
        <td style="padding-right: 10px"><%= raw tag_links(item.all_tags) %></td>
        <td style="padding-right: 10px"><%= link_to 'Details', item %></td>
        <% if user_signed_in? %>
           <% if can? :crud, item %>
              <td style="padding-right: 10px"><%= link_to 'Edit', edit_item_path(item) %></td>
              <td style="padding-right: 10px"><%= link_to 'Delete', item, method: :delete %></td>
           <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

