<head>
	<style>
		body h1 { font-family: "Oswald", sans-serif; text-transform: uppercase; }
	</style>
</head>

<%= render 'shared/nav_bar' %>

<body>

<p id="notice"><%= notice %></p>

<center><h1><%= @item.name %></h1>

<p>
  <%= image_tag @item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : @item.image_url, :width => 400, :height => 400, :crop => :fill %>
</p>

<% if user_signed_in? %>
  <% if can? :crud, @item %>
    <center><%= link_to 'Edit', edit_item_path(@item) %></center>
  <% end %>
<% end %>

<p>
  <strong>Item Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price: </strong>$
  <%= @item.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.user.name.blank? ? @item.user.email : @item.user.name %>
</p>

<center><button class="buy">BUY</button></center>

<center><%= link_to 'Go Back', items_path %></center>




</body>


