<head>
	<style>
		body h1 { font-family: "Oswald", sans-serif; text-transform: uppercase; margin-bottom: 20px; }
		.pic { padding-left: 10%; float: left; padding-right: 10px; }
		.iteminfo li { list-style: none; display: block; margin-bottom: 10px; text-align: left; }
		.iteminfo a:hover { text-decoration: none; }
		.itembox .buy { padding: 5px; }
		.iteminfo .price { font-size: 15px; }
		body { background-color: rgba(52, 152, 219, .5) }
		.itembox { border-radius: 25px; border: 2px solid #3498db; background: #FFFFFF;
			   width: 800px; height: 570px; position: absolute;
			   top:0; bottom:0; left:0; right:0; margin: auto}
		.bottom { clear: both; }
	</style>
</head>

<%= render 'shared/nav_bar' %>

<body>

<p id="notice"><%= notice %></p>

<!-- This div is the box containing the item elements -->
<div class="itembox">

<center><h1><%= @item.name %></h1>

<p><div class="pic">
  <%= image_tag @item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : @item.image_url, :width => 400, :height => 400, :crop => :fill %>
</div></p>

<ul class="iteminfo">
	<li><strong>Item Condition:</strong><br>
	<%= @item.condition %><br></li>

	<li><strong>Description:</strong><br>
	<%= @item.description %><br></li>

	<li class="price">$<%= @item.price %><br></li>

	<li><strong>Seller:</strong><br>
	<%= link_to @item.user.name.blank? ? @item.user.email : @item.user.name, user_path(@item.user) %><br></li>

	<li><strong>Tags:</strong><br>
	<%= raw tag_links(@item.all_tags) %><br></li>
</ul>

<div class="bottom">

<%= form_tag charges_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Item price"
          data-amount= @item.price * 100></script>
<% end %>

<% if user_signed_in? %>
  <% if can? :crud, @item %>
    <%= link_to 'Edit', edit_item_path(@item) %> | <%= link_to 'Delete', @item, method: :delete %> | 
  <% end %>
<% end %>

<%= link_to 'Go Back', items_path %></center>

</div>
</div>


</body>


