<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user.name.blank? ? @item.user.email : @item.user.name %>
</p>

<p>
  <%= image_tag @item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : @item.image_url, :width => 400, :height => 400, :crop => :fill %>
</p>

<p>
  <strong>Item Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Item Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price: </strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
