<head>
	<style>
		body h1 { font-family: "Lobster", cursive; }
	</style>
</head>

<%= render='shared/nav_bar'%>

<body>

<p id="notice"><%= notice %></p>

<h1><%= @item.name %></h1>

<p>
  <%= image_tag @item.image_url.blank? ? ("http://www.drivenmavens.com/wp-content/uploads/Blank-page.jpg") : @item.image_url, :width => 400, :height => 400, :crop => :fill %>
</p>

<% if user_signed_in? %>
  <% if can? :crud, @item %>
    <%= link_to 'Edit', edit_item_path(@item) %>
  <% end %>
<% end %>

<p>
  <strong>Item Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price: </strong>
  <%= @item.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name.blank? ? @item.user.email : @item.user.name %>
</p>

<center><%= link_to 'Go Back', items_path %></center>
</body>
