<%= render 'shared/nav_bar' %>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="30"></th>
    </tr>
  </thead>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name.blank? ? post.user.email : post.user.name %></td>
        <td><%= post.content %></td>
        <% if user_signed_in? %>
        <% if can? :crud, @post %>
          <td><%= link_to 'View', post %></td>
        <% if can? :crud, @post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% if can? :crud, @post %>
           <td><%= link_to 'Delete', post, method: :delete %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

