<header class="navbar-default navbar-fixed-top" role="banner">
	<nav role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<text>Triton Trade</text>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to "Clothes", category_path("Clothes") %></li>
							<li><%= link_to "Textbook", category_path("Textbooks") %></li>
							<li><%= link_to "Furniture", category_path("Furniture") %></li>
							<li><%= link_to "Miscellaneous", category_path("Miscellaneous") %></li>
							<li class="divider"></li>
							<li><a href="../items">Explore</a></li>
						</ul>
					</li>
				</ul>
				<% unless params[:controller] == 'pages' and params[:action] == 'index' %>
					<%= form_for @search do |f| %>
						<div class="input-group">
							<%= f.text_field :name, class: "form-control input-sm", placeholder: "Find something you want!" %>
							<span class="input-group-btn">
							<%= button_tag(type: "submit", class: "btn btn-default btn-sm") do %>
							<span class="glyphicon glyphicon-search"></span>
							<% end %>
							</span>
						</div>
					<% end %>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<!--<li><%= link_to image_tag("http://static.viewbook.com/images/social_icons/facebook_16.png"), user_omniauth_authorize_path(:facebook) %></li>
						<li><%= link_to image_tag("http://static.viewbook.com/images/social_icons/google_16.png"), user_omniauth_authorize_path(:google_oauth2) %></li>-->
					<% if user_signed_in? %>

					<li class="rightbutton"><%= link_to users_path do %>
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Members
						<% end %>
					</li>
					<li class="rightbutton"><%= link_to inbox_path do %>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Inbox
						<% end %>
					</li>


					<li><a class="navbartext">Hello, <%= current_user.name.blank? ? current_user.email : current_user.name  %>!</a></li>
					<li class="rightbuttons"><%= link_to current_user do %>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profile
						<% end %>
					</li>

					<li class="rightbuttons"><%= link_to destroy_user_session_path, :method => :delete do %>
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>   Sign Out											<%end%>
					</li>

					<!--<li><%= link_to "Edit Profile",edit_user_registration_path %></li>-->

					<% else %>

					<li class="rightbuttons"><%= link_to new_user_session_path do %>
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>   Login
					    	<% end %>
					</li>

					<li class="rightbuttons"><%= link_to new_user_registration_path do %>
						<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>   Sign Up
					    <% end %>
					</li>


					<!--<li class="rightbuttons"><%= link_to new_user_session_path do %>
						<button type="button" class="btn btn-default btn-sm">Log in</button>
						<%end%>
					</li>

					<li class="rightbuttons"><%= link_to new_user_registration_path do %>
						<button type="button" class="btn btn-default btn-sm">Sign Up For Free</button>
						<%end%>
					</li>-->

					<% end %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>
