<!DOCTYPE html>
<html>
  <head>
    <title>Triton Trade</title>
    <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>     
    <link href='//fonts.googleapis.com/css?family=Poiret+One|Lobster|Droid+Serif|Playfair+Display+SC:400italic|Oswald|Berkshire+Swash|Satisfy|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' unless params[:controller] == 'items' and params[:action] == 'show' %>
  </body>
</html>
